<div class="h-screen flex items-center justify-center">
    <form class="shadow-md rounded-md p-5 bg-white w-1/5" [formGroup]="registerForm" (ngSubmit)="register()">
        @for (err of errors; track err) {
            <div class="bg-red-100 border mb-2 flex flex-col gap-2 border-red-400 text-red-400 p-4 rounded-md relative">
                <div class="text-xs p-2">{{err.description}}</div>
            </div>
        }
        <mat-form-field apperance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email">
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <mat-form-field apperance="fill" class="w-full">
            <mat-label>Full Name</mat-label>
            <input matInput placeholder="Full Name" formControlName="fullName">
            <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
        <mat-form-field apperance="fill" class="w-full">
            <mat-label>Roles</mat-label>
            <mat-select multiple formControlName="roles">
                @for (role of roles$ | async; track role) {
                    <mat-option value="{{role.id}}">{{role.name}}</mat-option>
                }
            </mat-select>
            <mat-icon matPrefix>groups</mat-icon>
        </mat-form-field>
        <mat-form-field apperance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="{{hidePassword ? 'password' : 'text'}}" placeholder="Password" formControlName="password">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon class="cursor-pointer" (click)="hidePassword = !hidePassword" matSuffix>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <mat-form-field apperance="fill" class="w-full">
            <mat-label>Confirm Password</mat-label>
            <input matInput type="{{hideConfirmPassword ? 'password' : 'text'}}" placeholder="Confirm Password" formControlName="confirmPassword">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon class="cursor-pointer" (click)="hideConfirmPassword = !hideConfirmPassword" matSuffix>{{hideConfirmPassword ? 'visibility_off' : 'visibility'}}</mat-icon>
        </mat-form-field>
        <span *ngIf="registerForm.get('confirmPassword')?.dirty && registerForm.get('confirmPassword')?.touched && registerForm.hasError('passwordMisatch')" class="text-red-600">Password do not match.</span>
        <button type="subit" class="w-full border-collapse text-white border-slate-200 disabled:bg-purple-400 py-2 px-3 bg-purple-700"
            [disabled]="!registerForm.valid">Register</button>
        <div class="my-4">
            <span class="text-slate-600">Already have an accout?</span>
            <a class="text-purple-700" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
        </div>
    </form>
</div>